*{
    margin: 0;
    padding: 0;
}

     /* ----navbar style---- */
nav{
    display: flex;
    justify-content: space-between;
    width: 80%;
    text-align: center;
    align-items: center;
    margin: 0 auto;
 }.nav_title{
    display: flex;
    gap: 15px;
}.nav_title h1{
    color: #131318;
    font-family: Mulish;
    font-size: 2.5rem;
    font-weight: 800;
    
}.nav_title img{
    height: 2.8rem;
    width: 2.8rem;
}

.nav_icon ul{
    display: flex;
    gap: 25px;
}.nav_icon ul li{
    list-style: none;
}
.nav_icon ul a{
    text-decoration: none;
    color: rgba(37, 36, 36, 0.861);
    text-align: center;
    font-family: Mulish;
    font-size: 18px;
    font-weight: 700;
}span{
    color: #FF5400;
}
.nav_icon {
    position: relative;
}.nav_icon .nav_dot{
    
    display: flex;
    justify-content: right;
    align-items: start;
    display: none;
}
@media screen and (max-width: 600px){
    .nav_icon .nav_dot{
        display: block;
    }.nav_icon ul{
        display: none;
    }.nav_title h1{
        margin: 15px auto;
        font-size: 28px;
    }.nav{
        width: 60%;
        
    }.nav_title img{
        margin: 17px auto;
        height: 32px;
        width: 32px;
    }
    
}

/* banner sttyle */

.banner{
    background-image:  linear-gradient(to  bottom, rgba(0, 0, 0, 0.7), rgba(0,0,0,0.2)),
    url('/Images/banner-img.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    width: 80%;
    margin: 48px auto;
    border-radius: 16px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
   
}.banner_heading{
    color: #FFF;
    font-family: Mulish;
    font-size: 64px;
    font-weight: 800;
    margin-bottom: 6px;
}.banner_discription{
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 14px; 
}
.banner_input{
    display: grid;
    grid-template-columns: repeat(4,22%);
    gap: 3%;
    margin: 0;
    padding: 2.3%;
    height: 40px;
    justify-content: center;
    background-color: rgba(233, 216, 216, 0.417);
    border-radius: 10px;
} .banner > div{
    width: 55%;
    /* background-color: #FF5400;  */
}#text , #b_time, #b_type{
    border-radius: 8px;
    color: #ae9f9fec;
    padding-left: 10px;
}.btn_primary{
    border-radius: 8px;
    background-color: #FF5400;
    color: white;
    padding: 10px;
}

@media screen and (max-width: 600px) {
    .banner{
        height: auto;
        width: 80%;
        margin: 20px auto;
    }
    .banner_heading{
        font-size: 27px;
    }.banner_discription{
        font-size: 15px;
        font-weight: lighter;
    }.banner_input{
        grid-template-columns: 1fr;
        gap: 10px;
        height: auto;
        margin: 0;
        padding: 5%;
    }#text , #b_time, #b_type, .btn_primary{
        height: 52px;
    }.banner > div{
        width: 100%;
        margin: 5%;
    }#text , #b_time, #b_type{
        padding-left: 12px;
    }
}

/* ------.popular style part */


.popular{
    width: 80%;
    height: 480px;
    display: flex;
    margin: 78px auto;
    gap: 5%;
    align-items: center;
    /* background-color: aqua; */
}
.popular_text{
    text-align: left;
    width: 50%;
}.popular h1{
    color: #131318;
    font-family: Mulish;
    font-size: 40px;
    font-weight: 800;
}.popular_text p ,ul{
    color: rgba(19, 19, 24, 0.70);
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px; 
    margin: 24px auto;
}


.popular_img{
    height: 100%;
    width: 50%;
} img{
    height: 100%;
    width: 100%;
}

@media screen and (max-width: 600px){
    .popular{
        flex-direction: column;
        height: auto;
        gap: 20px;
    }.popular_img img{
        width: 98%;
        
    }.popular_text,.popular_img{
        width: auto;
    }

}

/* ------------destination part style */

.destination {
    width: 78%;
    margin: 78px auto;
    color: #131318;
    text-align: center;
    font-family: Mulish;

}.destination h1{
    margin-bottom: 24px;
    font-size: 40px;
    font-weight: 800;
}.destination p{
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 24px;
}


.destination .row{
    display: grid;
    margin-bottom: 10px;
    gap: 1.5%;

}.first_row{
    grid-template-columns: repeat(2,1fr);
}.second_row{
    grid-template-columns: 1fr 2fr 1fr;
}.third_row{
    grid-template-columns: 1fr 2fr;
}

@media screen and (max-width: 600px){
    .first_row, .second_row, .third_row{
        grid-template-columns: 1fr;
        height: auto;
        /* gap: 90px; */
    } .destination .second_row  {
        height: auto;
        margin-bottom: 23px;
    }.sani{
        height: 95%;
    }

}




/* ------choose us */

.choose{
    /* display: none; */
    width: 78%;
    margin: 78px auto;
}
.choose h1{
    color: #131318;
    text-align: center;
    font-family: Mulish;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 24px;
}.choose p{
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px; 
    margin-bottom: 24px;
}

.ch_first_row{
    display: flex;
    gap: 2%;
    margin-bottom: 10px;
}.ch_first_row .left{
    text-align: left;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    width: 49%;
    padding: 1%;
}.ch_first_row .right{
    text-align: left;
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
    width: 49%;
    padding: 1%;
}
.ch_second_row{
    display: flex;
    justify-content: center;
}.ch_second_row .price{
    text-align: left;
    width: 53%;
    padding: 1%;
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
}
.ch_second_row .price h1 ,.ch_first_row .right h1, .ch_first_row .left h1{
    text-align: left;
}

.ch_icon{
    padding: 10px;
    margin: 15px auto;

}

@media screen and (max-width: 600px){
    .ch_first_row{
        flex-direction: column;
    }.ch_first_row .left, .ch_first_row .right, .ch_second_row .price{
        width: 99%;
    }

}


/* --------Newssletter part */

.newsletter{
    width: 80%;
    text-align: center;
    margin: 78px auto;
    display: flex;
    gap: 2%;
    align-items: center;
    height: 430px;
    /* display: none; */

}
.news_text{
width: 38%;
height: 90%;
padding: 2%;
border: 1px solid #FF5400;
border-radius: 16px;
    text-align: left;
}.news_text h1{
    color: #131318;
    font-family: Mulish;
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 16px;
}
.news_text p{
    color: #5A5A5D;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 24px;
}
.news_form{
    display: flex;
    flex-direction: column;
    gap: 18px;
    margin: 20px auto;
}.news_form input[type="text"], .news_form input[type="email"], .news_form input[type="button"] {
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    height: 50px;
    padding-left: 20px;
    border: none;
}.news_form input[type="button"]{
    border-radius: 8px;
    background-color: #FF5400;
    color: white;
    padding: 10px;
}


.news_img{
    width: 60%;
    height: 100%;
    position: relative;
    
}
.news_trans{
    border: 1px solid red;
    border-radius: 16px;
    /* transform: translate(230px, 320px) rotate(-30deg); */
    position: absolute;
    bottom: 50px;
    right: 10px;

    width: 50%;
    height: 24%;
    transform: rotate(-19.628deg);
    flex-shrink: 0;
    background-color: #FF5400;
    text-align: center; 
}
.news_trans h3,.news_trans h1{
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 20px;
    font-weight: 400;
    margin: 12px auto;
}.news_trans h1{
    color: #FFF;
    font-family: Mulish;
    font-size: 29px;
    font-weight: 800;
    margin: 0px;
}

.news_back_img{
    height: 100%;
    width: 100%;
    border-radius: 16px;
    background-image: url("/Images/Rectangle 8 (1).png");
    background-size: 100% 100%;

}

@media screen and (max-width: 600px){
    .newsletter{
        flex-direction: column;
        height: auto;
        width: 90%;
        gap: 25px;
    }.news_text , .news_img{
        width: 100%;
    }
    .news_back_img{
        height: 430px;
    }
    .news_trans{
        bottom: 33px;
    }
}


  /* ------ footer part style */
a{
    color: #454546;
}
  footer{
    height: 280px;
    width: 86%;
    background: rgba(19, 19, 24, 0.05);
    margin: 78px auto 0px auto;
    text-align: center;
    padding: 2% 7%;
    /* display: none; */
  }footer .heading img{
    height:2rem;
    width: 2rem;
  }footer .heading{
    display: flex;
    justify-content: center;
  }footer  p{
    color: #5A5A5D;
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    width: 80%;
    margin: 32px auto;
  }footer .icon{
    display: flex;
    justify-content: center;
    gap: 4%;
    margin: 4px auto 40px auto;
    font-size: 2rem;
  } footer .Reserved{
    color: #131318;
    font-family: Inter;
    font-size: 16px;
    font-weight: 300;
    margin: 20px;
  }



  /* deals------------ */

.deals{
    width: 80%;
    margin: 78px auto;
    text-align: center;
}.deals h1{
    color: #131318;
    text-align: center;
    font-family: Mulish;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 1%;
}.deals p{
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px; 
    margin-bottom: 2%;
}




  .de_one{
    width: auto;
    height: 350px;
    /* background-color: aqua; */
    /* background-image: url("Images/Group 39.png"); */
    /* background-repeat: no-repeat;
    background-size: 100% 100%; */

    background-image:  linear-gradient(to  bottom, rgba(0, 0, 0, 0.7), rgba(0,0,0,0.2)),
    url('/Images/Group 39.png');
    border-radius: 16px;
    margin-bottom: 48px;
    display: flex;
    justify-content: end;
    align-items: center;
    

  }
  .de_one .text_box{
    width: 40%;
    border-radius: 16px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
    text-align: left;
    padding: 2%;
    height: 60%;
    margin-right: 5%;
    display: flex;
    flex-direction: column;
  }
  .de_one .text_box .time{
    display: flex;
    gap: 5%;
    margin-bottom: 2%;
  }.text_box h4{
    color: #131318;
    font-family: Mulish;
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 1%;
  }.text_box p{
    color: #5A5A5D;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 1%;
  } .text_box .price{
    color: #FF5400;
    font-family: Mulish;
    font-size: 20px;
    font-weight: 800;
    margin-bottom: 1%;
  }.text_box button{
    width: 20%;
  }

.de_two{
    display: flex;
    justify-content: start;
    align-items: center;
} .de_two .text_box{
    margin-left: 5%;
}
.de_two{
    background-image:  linear-gradient(to  bottom, rgba(0, 0, 0, 0.7), rgba(0,0,0,0.2)),
    url('/Images/Group 40.png');
}
.last_btn{
    background-color: #FF5400;
    padding: 1%;
    color: #FFF;
    border-radius: 16px;
}

@media screen and (max-width: 600px){
    .de_one{
        height: 550px;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        justify-content: center;
        align-items: end;
    }.de_one .text_box{
        height: 50%;
        width: 80%;
        margin:auto;
        margin-bottom: 5%;
    }.de_one .text_box .time{
        gap: 2%;
      }.text_box button{
        width: 40%;
        padding: 2%;
      }

}


/* -------simple part */
.simple{
    width: 80%;
    margin: 78px auto;
    /* background-color: aqua; */
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    

}.simple .text_part{
    width: 45%;
    padding-left: 2%;
    text-align: left;
}.simple .img_part{
    width: 51%;
}

.simple .text_part h1{
    color: #131318;
    font-family: Mulish;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: 60px;
    width: 80%;
}.simple .text_part p{
    color: #5A5A5D;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; 
}.simple .text_part ul li{
    color: #131318;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px; 
    margin-bottom: 1%;
}.simple .text_part ul{
    padding-left: 1%;
}

@media screen and (max-width: 600px){
    .simple{
        flex-direction: column;
        gap: 2%;
        height: auto;
    }.simple .text_part, .simple .img_part{
        width: 90%;
        height: auto;
    }.simple .text_part{
        margin-bottom: 40px;
    }.simple .text_part h1{
        font-size: 30px;
        line-height: 30px;
    }
    .simple .text_part p{
        font-size: 14px;
        line-height: 22px; 
    }.simple .text_part ul li{
        font-size: 14px;
        line-height: 22px; 
    }
}